@{
    ViewBag.Title = "Concrete Application";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("Process Concrete Cards", "Index", "ConcreteCards")</h5>
    </li>

    <li class="two">
        <h5>@Html.ActionLink("Process Test Data", "Index", "ProcessTestData")</h5>
    </li>

    <li class="three">
        <h5>@Html.ActionLink("Print Break Sheet", "Index", "Reports")</h5>
    </li>

    <li class="four">
        <h5>@Html.ActionLink("Print CostSheet", "costsheet", "Reports")</h5>
    </li>

    <li class="five">
        <h5>@Html.ActionLink("Print CSA Sheet", "csa", "Reports")</h5>
    </li>

    <li class="six">
        <h5>@Html.ActionLink("Satistical Analysis Report", "analysis", "Reports")</h5>
    </li>

    <li class="seven">
        <h5>@Html.ActionLink("Print Summary Sheet", "summary", "Reports")</h5>
    </li>

    <li class="eight">
        <h5>Exit</h5>
    </li>

</ol>
